<suite name = "Test Suite for QKART QA" >
  <listeners>
        <listener class-name = "QKART_TESTNG.ListenerClass"></listener>
    </listeners>
   <test name = "Sanity Testng Execution" >
      <parameter name = "Xtend" value = "Xtend Smart Watch" />
      <parameter name = "Yarine" value = "Yarine Floor Lamp" />
      <parameter name = "Stylecon" value = "Stylecon 9 Seater RHS Sofa Set " />
      <parameter name = "quantity" value = "60" />
      <parameter name = "Tan"  value = "Tan Leatherette Weekender Duffle" />
      <parameter name = "Addr"  value = "Addr line 1 addr Line 2 addr line 3" />
      <parameter name = "YONEX" value = "YONEX Smash Badminton Racquet" />
       <parameter name = "Xtend" value = "Xtend Smart Watch" />
      <parameter name = "Yarine" value = "Yarine Floor Lamp" />
      <parameter name = "Stylecon" value = "Stylecon 9 Seater RHS Sofa Set " />
      <parameter name = "quantity" value = "60" />
      <parameter name = "Tan"  value = "Tan Leatherette Weekender Duffle" />
      <parameter name = "Addr"  value = "Addr line 1 addr Line 2 addr line 3" />
      <parameter name = "YONEX" value = "YONEX Smash Badminton Racquet" />
      <groups>
         <run>
            <include name = "Sanity_Test" />
             <include name = "Regression_Test" />
         </run>
      </groups>
       <classes>
         <class name = "QKART_TESTNG.QKART_Tests" >     
            <methods>           
               <include name = "TestCase01" />
               <include name = "TestCase02" />
               <include name = "TestCase03" />
               <include name = "TestCase04" />

               <include name = "TestCase05" />
               <include name = "TestCase06" />

               <include name = "TestCase07" />
               <include name = "TestCase08" />
               <include name = "TestCase09" />
               <include name = "TestCase10" />



               <include name = "TestCase11" />
            </methods>      
         </class>
      </classes> 
   </test>


<!-- <test name = "Regression Testng Execution" >
     
      <groups>
         <run>
            <include name = "Regression_Test" />
         </run>
      </groups>
       <classes>
         <class name = "QKART_TESTNG.QKART_Tests" >     
            <methods>           
               <include name = "TestCase04" /> 
               <include name = "TestCase06" />
               <include name = "TestCase08" />
               <include name = "TestCase09" />
               <include name = "TestCase10" />

            </methods>      
         </class>
      </classes> 
   </test> -->
</suite>
